{% extends 'base.html' %} <!-- base.html을 상속 받음 -->
{% block content %}
<div class="container my-3"> <!-- class 속성: 태그들을 그룹 지을 때 사용, 같은 클래스 값을 가진 요소들에게 공통적인 스타일 적용. container my-3: 부트스트랩이 제공하는 클래스 -->
    <table class="table"> <!-- table 태그: 표를 만듦 -->
        <thead> <!-- 표의 제목 -->
        <tr class="table-dark"> <!-- tr(table row): 표의 행 -->
            <th>번호</th> <!-- th(table head): 제목 셀 -->
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody> <!-- 표의 본문 영역 -->
        <!-- 질문 목록 -->
        {% if question_list %} <!-- 템플릿 태그, 파이썬 코드와 연결됨. render_template 함수에서 전달받은 질문 목록 데이터 question_list가 있는지 검사 -->
        {% for question in question_list %} <!-- question_list에 있는 데이터를 하나씩 꺼내 question 객체에 대입 -->
        <tr> <!-- table row, 표의 행 -->
            <td>{{ loop.index }}</td> <!-- td(table data): 테이블에 들어가는 데이터, loop.index: 1부터 시작하는 index값 반환 -->
            <td>
                <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a> <!-- 테이블에 질문 제목이 들어감 -->
                <!-- question.subject의 question은 위의 for문의 question 객체임-->
            </td>
            <td>{{ question.create_date }}</td> <!-- 테이블에 질문 작성일시가 들어감. -->
        </tr>        
        {% endfor %}
        {% else %} <!-- 질문 목록에 아무 질문도 없을 경우 -->
        <tr> 
            <td colspan="3">질문이 없습니다.</td> <!-- colspan: 열을 확장함(좌우로) -> 이 경우에는 3개의 칸이 1칸으로 확장되는 것 -->
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('question.create') }}" class="btn btn-primary">질문 등록하기</a> <!-- 질문 등록 버튼 생성 -->
    <!-- '질문 등록하기'버튼을 누르면 question 블루프린트의 create함수가 실행됨. 메소드는 GET -->
</div>
{% endblock %}